#titleForm
{
    margin:50px auto 0;
    color:#fff;
    text-align:center;
    font-size:35px;
    width:30%;
}
#div_input
{
    width: 30%;
    margin: 0 auto 50px;
    border: 6px solid rgba(194, 53, 53, 0.87);
    padding: 9px;
    border-radius: 8px;
}

#div_input div
{
    width:100%;
    display: block;
    border: 1px inset #ccc;
}

#div_input label
{
    display: none;
}

#div_input div input 
{
    border-radius:5px;
    width:96%;
}

#div_input div button
{
    border: none;
    width:16px;
    height:16px;
    background-image:url('../img/trash.png');
    background-repeat:no-repeat;
    text-indent:-99999px;
    cursor:pointer;
}