article
{
    margin:50px auto 0;
    color:#fff;
    text-align:center;
    font-size:35px;
    width:30%;
}
#div_input
{
    width: 30%;
    margin: 0 auto 50px;
    border: 6px solid rgba(194, 53, 53, 0.87);
    padding: 9px;
    border-radius: 8px;
}

#div_input div
{
    width:100%;
    display: block;
}

//Mudança.

#div_input label
{
    display: none;
}

#div_input div input 
{
    border-radius:5px;
    width:90%;
    margin: 2px;
}

#div_input div button
{
    border: none;
    width:16px;
    height:16px;
    background-image:url('../img/trash.png');
    background-repeat:no-repeat;
    text-indent:-99999px;
    cursor:pointer;
    margin-left: 12px;
}

body
{
   background-color:rgba(186, 49, 49, 0.88);
   padding:0px;
   margin:0px;
}

nav
{
    background-color:rgba(111, 20, 20, 0.27);
    height:50px;
    border-radius:14px;
    position:fixed;
    top:0%;
    width:100%;
    margin:2px;
}
nav a
{
    display:inline;
    text-decoration:none;
    border:1px solid #ff0000;
    padding:12px;
    border-radius:12px;
    color:rgba(111, 20, 20, 0.97);
    font-weight:bold;
    cursor:pointer;
    background-color:#ac5252;
}

nav a:hover
{
    background-color:#6f1414;
    color:#ffffff;
}

#div_input, #div_input div 
{
    background-color:#ffffff;
}

#wrapper-form{
    margin-top:15%;
}