body
{
   background-color:rgba(186, 49, 49, 0.88);
   padding:0px;
   margin:0px;
}

nav
{
    background-color:rgba(111, 20, 20, 0.27);
    height:50px;
    border-radius:14px;
    position:fixed;
    top:0%;
    width:100%;
    margin:2px;
}
nav ul li
{
    display:inline;
    text-decoration:none;
    border:1px solid #ff0000;
    padding:12px;
    border-radius:12px;
    color:rgba(111, 20, 20, 0.97);
    font-weight:bold;
    cursor:pointer;
    background-color:#ac5252;
}

nav ul li:hover
{
    background-color:#6f1414;
    color:#ffffff;
}

#div_input, #div_input div 
{
    background-color:#ffffff;
}
