body
{
    background-color:rgba(99, 31, 116, 0.99);
    margin:0;
}
nav
{
    background-color:#33084a;
    padding:20px;
}

nav a
{    
    color:#ffffff;
}

article
{
    width:70%;
    float:left;
}

section
{    
    border:1px dashed #a166dc;
}

aside
{
    border:1px dashed #a166dc;
    width:29%;
    float:right;
}
footer
{
    clear:both; 
    position:absolute;
    bottom:3%;
    text-align:center;
}