<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAI4U56XRXOVP5GZ6Q"/>
		<add key="AWSSecretKey" value="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"/>
		<add key="AWSRegion" value="us-east-1" />
	</appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
