<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="backEnd" type="VCLServer.backEnd" />
      <add verb="*" path="*.js" type="VCLServer.backEnd" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" maxQueryStringLength="102400" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="becs" verb="*" path="backEnd" type="VCLServer.backEnd" resourceType="Unspecified" />
      <add name="bejs" verb="*" path="*.js" type="VCLServer.backEnd" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="102400"></requestLimits>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>

  <connectionStrings>
    <add name="DB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source = |DataDirectory|\sample.mdb" />
  </connectionStrings>

</configuration>