body {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px !important;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    font-size: 19px;
    text-align: justify;
}