* {
    margin:0;
    padding:0;
}


body
{
    background-color:#849da0;
    color:#e4dfdf;
}

header{
    height:38px;
    padding-top:20px;
    position:fixed;
    background-color:#33084a;
    top:0%;
    width:100%;
}

nav a
{   
    color:#FFF;
    border:1px double #e4dfdf;
    padding:5px;
    margin:0 5px;
    text-decoration:none;
    border-radius:10px;
    background-color:rgba(99, 31, 116, 1);
}

nav a:hover
{
    background-color:#302535;
    border:1px double rgba(85, 151, 165, 1);
    color:#fff;
    -webkit-rotation:90deg;
}

nav a:nth-child(2)
{
    background-color:rgba(208, 8, 8, 0.87);
    color:#e4dfdf;
    font-size:16px;
}


nav a:nth-child(2):hover
{
    background-color:rgb(55, 12, 12);
    color:#e4dfdf;
    border:1px double #f80000;
    font-weight:bold;
}

article
{
    width: 72%;
    float: left;
    margin-top: 70px;
    padding: 10px 15px;
    font-family: "Myriad Pro";
}

h1
{
    font-size:25px;
    text-align:center;
    color:rgba(99, 31, 116, 1);
}

#lblBtn button
{    
    background: #fff url("../img/Add3.png") no-repeat;
    border-radius: 30px;
    width: 21px;
    height: 19px;
    text-indent: -9999px;
    margin-top: 3px;
}

#lblBtn
{
    float: right;
}

#conteudo_form 
{
    width: 90%;
    margin-left: 0px;
    background-color: #456789;
    border-radius: 13px;
    padding: 15px 50px 29px;
}

#conteudo_form #div_input label 
{
    display: none;
}

#conteudo_form #div_input div 
{
    display: block;
    background-color: white;
    border-radius:5px;
    padding:2px;
    margin:5px;
    border:none;
}

#conteudo_form #div_input div input 
{
    width: 95%;
    border-radius: 5px;
    border: none;
    padding: 5px 5px 5px 10px;          
}

#conteudo_form #div_input div button {
    background-image: url('../img/lixeira.png');
    background-repeat:no-repeat;
    text-indent:-99999px;
    width:24px;
    height:24px;
    border:none;
    border-radius:2px;
    float:right;
    background-size:contain;
    background-color:#FFF;
}

aside ul 
{
    padding:10px;
    margin: 0 0 0 25px;
    list-style-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABX0lEQVQ4T63USU6EQBQG4GZ0XLDgCC48hPNKgyDQHb2KV/AKrDBxY6NRQqcrLhw2eBfWnagggz+JJBXSUNWdJmFBSH28/70qhMGKL2HF3qAXtCzrWJKkHVmW74Ig+Ob5eCfouu6oLMuxgKuqqo+iKIwoir5YaB/4AGhIAe95np+z0E4QcQ8Q9wXg+iJobw8dx9kDRnBvNyg68JkkyWkcx7N58ZlTNgxjX1XVKS/KBOsqTNM8Q/wnVLdGVfWGnprtnnKBNYKpG5j6I43i+ToMwxs6Ojdo2/aRKIoTTH6rAZYGEfkEkSNUt9lggF8VRTHbG55ZIaJaWBwAUiksBHYJLGtPmrVtLrBgTGOo8hnVXs3DarwTxB48/N+DG1RlRNM01/f9n64jyH30MIBplmUuISTtO8+dIKY6RLx7LJbQw0mapiMW1hu5flkfPaC7uq7fep73y/rTMEEeYKEpLwP+AfcRnhV9ieKDAAAAAElFTkSuQmCC);
}

aside ul li
{
    padding:3px;
    margin-bottom:5px;
    padding-bottom:5px;
}

aside
{
    border:1px double #a166dc;
    border-radius:15px;
    width:23.6%;
    height:auto;
    float:left;
    margin:70px 10px 0 10px;
    background:rgba(61, 58, 58, 0.97);
    padding:5px;
    margin-left:30px;
}

aside:nth-of-type(1)
{
    -webkit-animation: myfirst 20s; /* Chrome, Safari, Opera */
    animation: myfirst 20s;
}


aside:nth-of-type(2)
{
    background-color:rgba(208, 8, 8, 1);
    clear:both;
    text-align:center;
    padding-bottom:59px;
    margin-top:340px;
}

footer
{
    clear:both; 
    position:fixed;
    bottom:0%;
    background:#3c3349;
    border-top:1px double #a166dc;
    padding:10px;
    text-align:center;
    width:100%;
}

